@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    --font-main: 'Epilogue', sans-serif;
    --color-bg: hsl(0, 0%, 98%);
    --color-h1: hsl(0, 0%, 8%);
    --color-text: hsl(0, 0%, 41%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-main);
    font-size: 18px;
}

/*--------------------------------------header*/

header {
    padding: 5px 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}

.menu-mobile {
    display: none;
}

/*-----------------------------------------------*/
/*-----------------------------------------menu-left*/

.menu-left {
    flex: 0 1 525px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    
}

.menu-left span {
    margin: 10px 20px 0 0;
}

.menu-left > a {
    padding: 30px 0;
    text-decoration: none;
    color: var(--color-text);
    font-size: 14px;
    font-weight: 500;
}

.menu-left > a > img {
    margin: 0 0 0 3px;
}

.menu-left > a:hover {
    transition: 0.3s;
    color: var(--color-h1);
    font-weight: 700;
    transform: scale(1.03);
}

 /*----------------------------Dropdown-menu*/

.dropdown {
    padding: 20px 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.171);
    animation: fadein 0.4s;
}

.dropdown a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 14px;
    font-weight: 500;
    margin: 9px 0;
    display: flex;
    align-items: center;
}

.dropdown a:hover {
    transition: 0.3s;
    color: var(--color-h1);
    font-weight: 700;
    transform: scale(1.03);
}

.dropdown a img {
    width: 15px;
    height: 15px;
    margin: 0 15px 0 0;
}

.dropdown-features {
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

.dropdown-company {
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

/*--------------------------------------------------*/
/*----------------------------------------menu-rigth*/

.menu-rigth{
    flex: 0 1 182px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}

.menu-rigth > a{
    text-decoration: none;
    color: var(--color-text);
    font-size: 14px;
    font-weight: 500;
}

.item-register {
    border: 2px solid var(--color-text);
    padding: 12px 20px;
    border-radius: 13px;
}

.menu-rigth > a:hover {
    transition: 0.3s;
    color: var(--color-h1);
    font-weight: 700;
    border-color: var(--color-h1);
    transform: scale(1.03);
}

/*--------------------------------------------------*/
/*-------------------------------------------Section*/

section {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    padding: 46px 30px;
}

.section-left {
    flex: 0 1 520px;
    margin: 105px 10% 0 35px;

}

.section-left > h1 {
    font-size: 79px;
    color: var(--color-h1);
    margin: 0 0 50px 0;
}

.section-left > p {
    max-width: 450px;
    line-height: 28px;
    margin: 0 0 50px 0;
}

.section-left > button {
    margin: 0 0 110px 0;
    border: 1px solid var(--color-h1);
    padding: 16px 32px;
    color: white;
    background-color: var(--color-h1);
    border-radius: 15px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.section-left > button:hover {
    border: 1px solid var(--color-h1);
    background-color: var(--color-bg);
    color: var(--color-h1);
    transition: 0.3s;
}

.section-rigth {
    flex: 0 0 480px;
}

.section-rigth > picture > img {
    width: 100%;
}

/*---------------------------------------------------*/
/*-----------------------------------client-list*/

.client-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    max-width: 470px;
}


@media (max-width: 950px) {

    section {
        flex-flow: column-reverse nowrap;
        padding: 50px 0;
    }

    .section-left {
        text-align: center;
    }

    .section-left > p {
        margin: auto ;
        margin-bottom: 60px;
    }

    .client-list {
        margin: auto;
    }

    .menu-mobile {
        display: inline-block;
    }

    .menu-rigth {
        display: none;
    }   

    .menu-left {
        display: none;
    }

}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

